html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:url("/hero-image.jpeg"); */
  font-family: 'Dosis', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('/hero-image.jpeg');
  background-size: cover;
  height: 100vh;
  position: relative;
  color: white;
}

.hero-section hr {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.nav .nav-link {
  color: white;
}

.nav .nav-link:hover {
  color: #888;
}

.whatwedolink {
  text-decoration: none;
  color: white;
}

.whatwedolink:hover {
  text-decoration: none;
  color: white;
}